<!-- app/templates/components/footer.html -->
<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <img src="https://storage.googleapis.com/curiodaily_image/logo.jpeg" alt="CurioDaily Logo" class="logo">
            <h2>CurioDaily</h2>
        </div>
        <p>Get your daily dose of interesting news and updates on AI, Tech, Business, Science, and more. Join our community of curious minds!</p>
        <div class="subscribe-form">
            <div class="input-wrapper">
                <input type="email" id="footerEmailInput" placeholder="Enter Your Email">
                <div id="footerEmailError" class="error-message">Please enter a valid email address.</div>
            </div>
            <button type="button" id="footerSubscribeBtn">Subscribe</button>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 CurioDaily. All rights reserved.</p>
        <div>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
        </div>
    </div>
</footer>
