fastapi
uvicorn
gunicorn
psycopg2-binary
python-dotenv
openai
APScheduler
Flask-CORS
pydantic
pydantic-settings
email_validator
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-secret-manager
google-cloud-storage
alembic
SQLAlchemy
httpx
beautifulsoup4
html2text